# -*- mode: makefile -*-


# ocamlc compilation flags
OCAMLFLAGS = -annot -bin-annot -g

OCAMLFLAGS_BYTE =
OCAMLFLAGS_NATIVE = -inline 10 #-unsafe -noassert

OCAMLBUILD=ocamlbuild -use-ocamlfind -ocamlc "ocamlfind ocamlc $(OCAMLFLAGS) $(OCAMLFLAGS_BYTE)" -ocamlopt "ocamlfind ocamlopt $(OCAMLFLAGS) $(OCAMLFLAGS_NATIVE)" 

LATEX=latex
DVIPDF=dvipdf
MAKEINDEX=makeindex
